<footer class="footer">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>&copy; OCT Web Applications @DateTime.Now.Year | ออกแบบด้วยความปลอดภัยและใช้งานง่าย</span>
            </div>
            <div>
                <span class="text-muted">เวอร์ชัน 2.1.0</span>
            </div>
        </div>
    </div>
</footer>