<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <!--<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3">
        <i class="fa fa-bars"></i>
    </button>-->

    <!-- Page title -->
    <div class="centered-title">
        <h1 class="h5 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ms-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item">
            @Html.Partial("_LoginPartial")
        </li>
    </ul>
</nav>