@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.courses-container {
    width: 100%;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin: 20px; */
    overflow: hidden;
    
    margin-bottom: 20px; /* You can adjust this value to your desired spacing */

}

.course-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.course-preview {
    background-color: #2A265F;
    color: #fff;
    padding: 20px;
    width: 20%;
}

    .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }

    .course-preview p {
        color: #fff;
        font-size: 16px; 
    }

.course-info {
    padding: 20px;
    width: 80%;
    position: relative;
}

.btnadd {
    background-color: #2A265F;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    width: auto;
    min-width: 60px;
}

/*----------------------------------------------------------------------------*/

/*.TrainingDate {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    box-sizing: border-box;
    margin-top: auto;
    display:none;
    flex-basis: auto;
    /*line-height: 30px;
}*/

/*.course-trainingDate {
    background-color: #FFC0CB;
    width: 100%;
    margin-top: auto;
    flex-basis: auto;
    line-height: 30px;
}

.TrainingDate {
    background-color: #fff;
    width: auto;
    padding: 30px;
    font-size: 16px;
    display:none;
    align-items: center;
    justify-content: space-between; 
}*/

.TrainingDate {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    margin-top: auto;
    display: none;
    flex-basis: auto;
    /*line-height: 30px;*/
}

.test-all-g {
    margin-bottom: 20px;
}

.TrainingDate .text-dark {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    /*margin:20px;*/
}




/*----------------------------------------------------------------------------*/
.table-emplist {
    width: 100%;
    display: none;
    box-sizing: border-box;
}


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.7em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    table-layout: fixed;
}

    .styled-table thead tr {
        background-color: #3498db;
        color: #fff;
        text-align: left;
    }


    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #fff;
        color: #000000;
    }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #3498db;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }


@keyframes rotateImage {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*.dropdown-menu {
  background-color: #FF00FF;
}

.dropdown-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #ccc;
}

    .dropdown-menu a.active {
        background-color: #04AA6D;
        color: white;
    }*/



/*-----------------------------------------------------------------*/
/* Dropdown Menu Style */
.dropdowns {
    position: absolute;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none; /* Hidden by default */
    width: 200px;
    padding: 5px 0;
    list-style: none;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

    .dropdown-menu a {
        display: block;
        width: 100%;
        padding: 8px 16px;
        text-align: left;
        text-decoration: none;
        color: #000;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

        .dropdown-menu a:hover {
            background-color: #f1f1f1;
            color: #333;
        }

        .dropdown-menu a.active {
            background-color: #04AA6D;
            color: white;
        }
