
@{
    ViewBag.Title = "ExportPdf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>รายงานคะแนน</h2>
<table>
    <thead><tr><th>ชื่อ</th><th>คะแนน</th></tr></thead>
    <tbody>
      
            <tr><td>TEST</td><td>9999</td></tr>
       
    </tbody>
</table>
