 fieldset {
        display: block;
        margin-left: 10px;
        margin-right: 2px;
        margin-top: 0;/*4px;*/
        margin-bottom: 4px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove;
        font-size: 16px;
        /*font-family: sans-serif;*/
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
       
    }
    legend {
        background: linear-gradient(to right, #123456, #2d445f, #445568, #5b6672, #73777b);/*#73777B;*/
        color: white;
        padding: 0px 10px;
        font-size: 14px;
        /*font-family: sans-serif;*/
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
   